body {
    background-image: url(img/img_9.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    display: flex;
}

#menu {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    width: 12%;
    height: 100vh;
    padding-left: 2%;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    padding-top: 40px;
    overflow: hidden;
}

#menu a {
    text-decoration: none;
    color: white;
}

#TextoM {
    font-size: 12.8px;
    font-weight: 400;
}

#TextoM:hover {
    color: #df0e62;
    cursor: pointer;
}

#principal {
    background-color: rgba(0, 0, 0, 40%);
    width: 100%;
    align-items: center;
    align-content: center;
}

#Welcome {
    display: flex;
    align-items: end;
    color: white;
    font-family: "Oswald", arial, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 100;
}

#lorem1 {
    color: white;
    padding-left: 2%;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    line-height: 1.7;
    padding-bottom: 30px;
}

#btn {
    padding: 15px 30px;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    line-height: 2;
    background-color: #df0e62;
    margin-left: 44%;
    margin-right: 44%;
    border-radius: 50px;
}

#btn:hover {
    cursor: pointer;
    transform: scale(1.09);
}

#facebook {
    padding-right: 12px;
    font-size: 12px;
}

#facebook:hover {
    cursor: pointer;
    color: #df0e62;
}

#twitter {
    font-size: 12px;
    padding-right: 12px;
}

#twitter:hover {
    cursor: pointer;
    color: #df0e62;
}

#insta {
    font-size: 12px;
}

#insta:hover {
    cursor: pointer;
    color: #df0e62;
}

.TextoP {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Photo {
    height: 230vh;
    width: 100%;
    background-color: black;
    justify-content: space-around;
    line-height: 2;
    padding: 10px;
}

#Photo div {
    position: relative;
}

#lupa {
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    opacity: 0;
}

.img1:hover #lupa {
    opacity: 1;
    top: 50%;
}
.img2:hover #lupa {
    opacity: 1;
    top: 50%;
}
.img3:hover #lupa {
    opacity: 1;
    top: 50%;
}
.img4:hover #lupa {
    opacity: 1;
    top: 50%;
}
.img5:hover #lupa {
    opacity: 1;
    top: 50%;
}
.img6:hover #lupa {
    opacity: 1;
    top: 50%;
}
.img7:hover #lupa {
    opacity: 1;
    top: 50%;
}
.img1 {
    display: inline-block;
    justify-content: space-around;
    overflow: hidden;
    width: 33%;
    height: 300px;

}

.img2 {
    display: inline-block;
    justify-content: space-around;
    overflow: hidden;
    width: 33%;
    height: 300px;
}

.img3 {
    display: inline-block;
    justify-content: space-around;
    overflow: hidden;
    width: 33%;
    height: 300px;
}

.img4 {
    display: inline-block;
    justify-content: space-around;
    overflow: hidden;
    width: 33%;
    height: 300px;
}

.img5 {
    display: inline-block;
    justify-content: space-around;
    overflow: hidden;
    width: 33%;
    height: 300px;
}

.img6 {
    display: inline-block;
    justify-content: space-around;
    overflow: hidden;
    width: 33%;
    height: 300px;
}

.img7 {
    display: inline-block;
    justify-content: space-around;
    overflow: hidden;
    width: 33%;
    height: 300px;
}

.img1 img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    transition: .5s;
}

.img2 img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    transition: .5s;
}

.img3 img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    transition: .5s;
}

.img4 img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    transition: .5s;
}

.img5 img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    transition: .5s;
}

.img6 img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    transition: .5s;
}

.img7 img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    transition: .5s;
}

.img7 img:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.img6 img:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.img5 img:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.img4 img:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.img3 img:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.img2 img:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.img1 img:hover {
    cursor: pointer;
    filter: brightness(50%);
}

#Testimonial {
    padding-top: 70px;
    padding-bottom: 110px;
    color: white;
    text-align: center;
    font-family: "Oswald", arial, sans-serif;
    font-size: 64px;
    font-weight: 100;
    font-style: normal;
    background-color: black;
    height: 69vh;
}

#fotoC {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#foto {
    padding-top: 60px;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 30px;
}

#pessoa {
    height: 270px;
    border-radius: 50%;
}

#nome {
    color: white;
    font-size: 26px;
    padding-left: 320px;
    padding-right: 320px;
}

#bola {
    align-self: center;
    align-content: center;
    font-size: 30px;
    background-color: rgb(44, 43, 43);
    border-radius: 50%;
    width: 3vw;
    height: 6vh;
}

#bola:hover {
    background-color: #df0e62;
    cursor: pointer;
}

#lorem2 {
    color: rgb(95, 88, 88);
    font-size: 20px;
    padding-bottom: 38px;
}

#carrossel {
    height: 5vh;
    display: flex;
    justify-content: center;
}

#espaço {
    width: 0.5vw;
}

#bolaR {
    background-color: #df0e62;
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
}

#bolaC {
    background-color: rgb(34, 32, 32);
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
}

#faixa {
    display: flex;
    height: 0.5vh;
}

#rosa {
    background-color: #df0e62;
    height: 0.5vh;
    width: 2%;
    padding-left: 100px;
}

#faixaC {
    background-color: rgb(34, 32, 32);
    height: 0.5vh;
    width: 80.8vw;
}

#Biography {
    background-color: rgb(34, 32, 32);
    width: 86.6vw;
    height: 80vw;
    color: white;
}

#bio {
    padding-left: 25%;
    padding-top: 120px;
    font-size: 4em;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    padding-bottom: 50px;
}

#Jed {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin-left: 25%;
    border-radius: 2%;
    padding-bottom: 50px;
}

#Jed img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

#lorembio {
    margin-left: 25%;
    color: rgb(105, 103, 103);
    font-family: "Quicksand", sans-serif;
    line-height: 2;
}

#Hi {
    color: white;
    font-family: "Oswald", arial, sans-serif;
    font-size: 2.2em;
    padding-bottom: 15px;
}

#lorem3 {
    padding-bottom: 60px;
}

#textoR {
    color: #df0e62;
}

#textoR:hover {
    cursor: pointer;
}

#dezyears {
    color: white;
    font-family: "Oswald", arial, sans-serif;
    font-size: 2.2em;
    padding-bottom: 15px;
}

#lorem4 {
    padding-bottom: 40px;
}

#optio {
    display: flex;
    align-items: center;
}

#inventore {
    display: flex;
    align-items: center;
}

#ipsam {
    display: flex;
    align-items: center;
}

#blog {
    height: 140vh;
    width: 86.6vw;
    background-color: black;
    padding-top: 80px;
}

#Tblog {
    margin-left: 25%;
    color: white;
    font-family: "Oswald", arial, sans-serif;
    font-size: 3em;
    padding-bottom: 60px;
}

#forbes1 {
    display: flex;
    padding-bottom: 45px;
}

#imgforbes1 {
    height: 200px;
    width: 250px;
    overflow: hidden;
    padding-left: 25%;
}

#imgforbes1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#Tforbes1 a {
    text-decoration: none;
    color: white;
    font-family: "Oswald", arial, sans-serif;
    font-size: 1.5em;
}

#l2 {
    color: white;
    font-family: "Quicksand", sans-serif;
}

#loremF {
    color: rgb(105, 103, 103);
    font-family: "Quicksand", sans-serif;
    line-height: 2;
}

#forbes2 {
    display: flex;
    padding-bottom: 45px;
}

#forbes3 {
    display: flex;
    padding-bottom: 45px;
}

#forbes4 {
    display: flex;
    padding-bottom: 80px;
}

#numeros {
    color: rgb(105, 103, 103);
    padding-left: 41%;
    display: flex;
}

#num1 {
    height: 4vh;
    width: 2vw;
    align-content: center;
    text-align: center;
}

#num1:hover {
    cursor: pointer;
}

#num2 {
    color: #df0e62;
    height: 4vh;
    width: 2vw;
    align-content: center;
    text-align: center;
}

#num2:hover {
    border-radius: 50%;
    background-color: #df0e62;
    color: white;
    cursor: pointer;
}

#num3 {
    color: #df0e62;
    height: 4vh;
    width: 2vw;
    align-content: center;
    text-align: center;
}

#num3:hover {
    border-radius: 50%;
    background-color: #df0e62;
    color: white;
    cursor: pointer;
}

#reticencias {
    align-content: center;
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
}

#num7 {
    color: #df0e62;
    height: 4vh;
    width: 2vw;
    align-content: center;
    text-align: center;
}

#num7:hover {
    border-radius: 50%;
    background-color: #df0e62;
    color: white;
    cursor: pointer;
}

#Contato {
    background-color: rgb(34, 32, 32);
    width: 86.6vw;
    height: 55vw;
    color: white;
    font-size: 2em;
    font-family: "Oswald", arial, sans-serif;
    font-size: 1.5em;
}


#Tcontato {
    padding-left: 25%;
    padding-top: 120px;
    font-size: 4em;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    padding-bottom: 50px;
}

#form1 {
    padding-left: 25%;

}

label {
    font-family: "Quicksand", sans-serif;
}

#nome1 {
    width: 300px;
    border: none;
    outline: none;
    border-bottom: solid white;
    background-color: transparent;
    color: white;

}

#linha1 {
    display: flex;
}

#form2 {
    padding-left: 2%;

}

#nome2 {
    width: 300px;
    border: none;
    outline: none;
    border-bottom: solid white;
    background-color: transparent;
    color: white;
    font-family: "Quicksand", sans-serif;
}

#form3 {
    padding-top: 20px;
    padding-left: 25%;
}

#email {
    width: 640px;
    border: none;
    outline: none;
    border-bottom: solid white;
    background-color: transparent;
    color: white;
}

#form4 {
    padding-top: 20px;
    padding-left: 25%;
}

#Subject {
    width: 640px;
    border: none;
    outline: none;
    border-bottom: solid white;
    background-color: transparent;
    color: white;
}

#linha4 {
    padding-top: 20px;
    padding-left: 25%;
}

#Message {
    font-family: "Quicksand", sans-serif;
    padding-bottom: 20px;
}

#textao {
    width: 51.5%;
    height: 15vh;
    border: none;
    outline: none;
    border-bottom: solid white;
    background-color: transparent;
    color: white;
    resize: vertical;
    font-size: 16px;

}

#btn2 {
    padding: 15px 30px;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    line-height: 2;
    background-color: #df0e62;
    margin-left: 25%;
    margin-right: 64%;
    border-radius: 50px;
}

#btn2:hover {
    cursor: pointer;
    transform: scale(1.09);
}

#linha5 {
    padding-top: 40px;
}

#rodapé {
    background-color: black;
    height: 17vh;
    display: flex;
    align-items: center;
    padding-left: 30%;
    color: rgb(105, 103, 103);
}